/*
 * Tweaks and overrides to hyde.css
 */

.sidebar-about a:hover {
  text-decoration: none;
}

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Lora", serif;
  font-size: 2.5rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.sidebar-nav-toggle {
  cursor: pointer;
}

.sidebar-nav-toggle > .fa {
  padding-left: .25rem;
}

.sidebar-nav-sub {
  list-style: none;
  padding-left: 0;
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.sidebar-nav-item .fa-caret-up {
  display: none;
}
.sidebar-nav-item.open .fa-caret-up {
  display: inline-block;
}
.sidebar-nav-item.open .fa-caret-down {
  display: none;
}
.sidebar-nav-item.open .sidebar-nav-sub {
  visibility: visible;
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

@media (min-width: 48em) {
  .sidebar-nav-toggle {
    cursor: default;
  }
  .sidebar-nav-toggle:hover {
    text-decoration: none;
  }
  .sidebar-nav-toggle-item .fa, .sidebar-nav-toggle-item.open .fa {
    display: none;
  }
  .sidebar-nav-sub {
    padding-left: 1rem;
    visibility: visible;
    max-height: 500px;
  }
}
